<div class="container">
  <div class="row  d-flex justify-content-center">
    <div class="col-4  d-flex justify-content-center">
      <div id="iconHome" class="d-flex justify-content-center">
        <img src="http://www.grupoasesores.com.mx/img/logo.png">
      </div>
    </div>
  </div>

  <br>
  <div class="row d-flex justify-content-center">
      <div class="col-4  d-flex justify-content-center">
      <h2>Bienvenido Candidato 01</h2>
      </div>
  </div>

  <br>
  <div class="row d-flex justify-content-center">
      <div class="col-4  d-flex justify-content-center">
      <a href="providers"><div class="btn btn-primary">Continuar</div></a>
      </div>
  </div>
</div>
